<div class="ui-g">
  <div class="ui-g-12">
    <h2>Cadastrar fabricante</h2>
  </div>
</div>

<form autocomplete="off">
  <div class="ui-g">
    <div class="ui-g-12">
      <p-growl [(value)]="messages"></p-growl>
    </div>
  </div>
  <div class="ui-g maker-register-form">
    <div class="ui-g-8 ui-g-offset-2 ui-fluid">
      <label>Nome:</label>
      <input pInputText id="name" name="name" placeholder="Nome do Fabricante" [(ngModel)]="carMaker.name" />
    </div>
    <div class="ui-g-8 ui-g-offset-2 ui-fluid">
      <div class="input-file">
          <input type="file" accept="image/*" id="image" name="image" (change)="setImage($event)" />
          <label for="image" [textContent]="imageFile"></label>
      </div>
    </div>
    <div class="ui-g-8 ui-g-offset-2 ui-fluid">
        <div>
            <p-button id="registrar" name="registrar" label="Registrar" (onClick)="register()"></p-button>
        </div>
      </div>
  </div>
</form>
