.maker-register-form {
  padding: 1rem;
  margin: 1rem;
  background-color: #f0f0f0;
  border-radius: 1rem;
  width: -webkit-fill-available;
}

.input-file input{
	display: none;
}

.input-file label {
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  color: white;
  background-color: #2399e5;
  display: block;
  text-align: center;
  padding: 0.3rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.input-file:focus label,
.input-file label:hover {
  background-color: #2399e5;
}
